@model IEnumerable<OutReachApplication.Models.Attendance>

@{
    ViewBag.Title = "VolunteerListByMonth";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attended)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attended)
            </td>

        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back", "AdminIndex")
</div>